<%_
  var data = {
    url: '',/* スラッシュ始まりのドメイン以下URL ( TOPの場合は空文字で ) */
    name: 'top',/* bodyタグにつくid名 */
    title:'',/* TOPの場合は空文字で */
    description:'',/* TOPの場合は空文字で */
    keyword:'',/* TOPの場合は空文字で */
    device: 'pc', 
    current:'./'   
  } 
_%>  
<%_ data.asset = function(){ _%> 
<%_ }; data.content = function(){ _%>
<main>
    <section class="t_kv">
        <div class="t_kvInner">
            <h2 class="t_kv_copy">キャッチコピーが<br class="sponly">入ります。</h2>
            <p class="t_kv_read">リード文が入ります。リード文が入ります。<br>リード文が入ります。<br>リード文が入ります。リード文が入ります。</p>
        </div>
    </section>
    <div class="t_read">
        <div class="t_readInner">
            <div class="t_read_textBox">
                <p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
                <p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
                <a href="#">リンク名が入ります。</a>
            </div>
            <div class="t_read_imgBox">
                <p><img src="/assets/images/image.png" alt=""></p>
            </div>
        </div>
    </div>
    <section class="t_service">
        <div class="t_service_titleBox">
            <p class="t_service_subTitle">Servise</p>
            <h2 class="t_service_title">サービスを探す</h2>
        </div>
        <ul class="t_service_iconList">
            <li class="t_service_icon">
                <a href="">サービス1</a>
            </li>
            <li class="t_service_icon">
                <a href="">サービス2</a>
            </li>
            <li class="t_service_icon">
                <a href="">サービス3</a>
            </li>
            <li class="t_service_icon">
                <a href="">サービス4</a>
            </li>
            <li class="t_service_icon">
                <a href="">サービス5</a>
            </li>
        </ul>
        <a href="" class="t_service_btn">サービス一覧見る</a>
    </section>
    <section class="t_case">
        <div class="t_case_titleBox">
            <p class="t_case_subTitle">Case</p>
            <h2 class="t_case_title">お客様事例</h2>
        </div>
        <ul class="t_case_articleList">
            <li class="t_case_article">
                <a href="" class="t_case_articleLink">
                    <p class="t_case_articleImage"><img src="/assets/images/image.png" alt=""></p>
                    <p class="t_case_articleSub">
                        <span class="t_case_articleSubTitle">サブタイトルサブタイトル</span>
                        <time datatime="2022-06-20" class="t_case_articleDate">2022.06.20</time>
                    </p>
                    <h3 class="t_case_articleTitle">事例タイトル事例タイトル事例タイトル事例タイトル</h3>
                    <span class="t_case_articleTag">タグ</span>
                </a>
            </li>
            <li class="t_case_article">
                <a href="" class="t_case_articleLink">
                    <p class="t_case_articleImage"><img src="/assets/images/image.png" alt=""></p>
                    <p class="t_case_articleSub">
                        <span class="t_case_articleSubTitle">サブタイトルサブタイトル</span>
                        <time datatime="2022-06-20" class="t_case_articleDate">2022.06.20</time>
                    </p>
                    <h3 class="t_case_articleTitle">事例タイトル事例タイトル事例タイトル事例タイトル</h3>
                    <span class="t_case_articleTag">タグ</span>
                </a>
            </li>
            <li class="t_case_article">
                <a href="" class="t_case_articleLink">
                    <p class="t_case_articleImage"><img src="/assets/images/image.png" alt=""></p>
                    <p class="t_case_articleSub">
                        <span class="t_case_articleSubTitle">サブタイトルサブタイトル</span>
                        <time datatime="2022-06-20" class="t_case_articleDate">2022.06.20</time>
                    </p>
                    <h3 class="t_case_articleTitle">事例タイトル事例タイトル事例タイトル事例タイトル</h3>
                    <span class="t_case_articleTag">タグ</span>
                </a>
            </li>
        </ul>
        <a href="" class="t_case_btn">事例一覧見る</a>
    </section>
    <section class="t_support">
        <div class="t_support_titleBox">
            <p class="t_support_subTitle">Support</p>
            <h2 class="t_service_title">きめ細やかなサポート</h2>
        </div>
        <div class="t_support_contentBox">
            <p class="t_support_contentText">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
            <p class="t_support_contentImage"><img src="/assets/images/image2.png" alt=""></p>
        </div>
    </section>
    <section class="t_sustainable">
        <div class="t_sustainable_titleBox">
            <p class="t_sustainable_subTitle">Sustainable</p>
            <h2 class="t_sustainable_title">サスティナビリティ</h2>
        </div>
        <div class="t_sustainable_content">
            <h3 class="t_sustainable_contentTitle">サスティナビリティサブタイトル</h3>
            <p class="t_sustainable_contentText">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
            <a href="" class="t_sustainable_btn">サスティナビリティを見る</a>
        </div>
    </section>
    <section class="t_news">
        <div class="t_news_titleBox">
            <p class="t_news_subTitle">News</p>
            <h2 class="t_news_title">ニュース</h2>
        </div>
        <div class="t_news_box">
            <div class="t_news_catListBox">
                <ul class="t_news_catList">
                    <li class="t_news_cat active">全て</li>
                    <li class="t_news_cat">カテゴリー1</li>
                    <li class="t_news_cat">カテゴリー2</li>
                    <li class="t_news_cat">カテゴリー3</li>
                </ul>
            </div>
            <div class="t_news_listBox">
                <ul class="t_news_list">
                    <li class="t_news_article">
                        <time datatime="2022-06-20" class="t_news_articleDate">2022.06.20</time><span class="t_news_articleCat">カテゴリー1</span>
                        <a href="" class="t_news_articleTitle">ニュースタイトルニュースタイトルニュースタイトルニュースタイトル</a>
                    </li>
                    <li class="t_news_article">
                        <time datatime="2022-06-20" class="t_news_articleDate">2022.06.20</time><span class="t_news_articleCat">カテゴリー1</span>
                        <a href="" class="t_news_articleTitle">ニュースタイトルニュースタイトルニュースタイトルニュースタイトル</a>
                    </li>
                    <li class="t_news_article">
                        <time datatime="2022-06-20" class="t_news_articleDate">2022.06.20</time><span class="t_news_articleCat">カテゴリー1</span>
                        <a href="" class="t_news_articleTitle">ニュースタイトルニュースタイトルニュースタイトルニュースタイトル</a>
                    </li>
                </ul>
            </div>
        </div>
        <a href="" class="t_news_btn">ニュース一覧を見る</a>
    </section>
</main>
<%_ } _%> 
<%_ /* 以下includeファイル */ _%>
<%- include( data.current + 'includes/_head_b_' + data.device , { data : data } ); %>
<%- data.content(); %>
<%- include( data.current + 'includes/_footer_b_' + data.device , { data : data } ); %>
<%- data.asset(); %>
<%- include( data.current + 'includes/_foot_' + data.device , { data : data } ); %>