<%_
  var data = {
    url: '',/* スラッシュ始まりのドメイン以下URL ( TOPの場合は空文字で ) */
    name: 'top',/* bodyタグにつくid名 */
    title:'',/* TOPの場合は空文字で */
    description:'',/* TOPの場合は空文字で */
    keyword:'',/* TOPの場合は空文字で */
    device: 'pc', 
    current:'./'   
  } 
_%>  
<%_ data.asset = function(){ _%> 
<%_ }; data.content = function(){ _%>
<main>
    <section class="t_kv">
        <div class="t_kv_textBox">
            <h2 class="t_kv_copy">キャッチコピーが入ります。</h2>
            <p class="t_kv_read">リード文が入ります。リード文が入ります。<br>リード文が入ります。<br>リード文が入ります。リード文が入ります。</p>
        </div>
    </section>
    <div class="t_read">
        <div class="t_readBox">
            <div class="t_read_textBox">
                <p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
                <p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
                <a href="#">リンク名が入ります。</a>
            </div>
            <div class="t_read_imgBox">
                <p><img src="/assets/images/image.png" alt=""></p>
            </div>
        </div>
    </div>
    <section>
        <div>
            <p>Servise</p>
            <h2>サービスを探す</h2>
        </div>
        <ul>
            <li>
                <a href="">サービス1</a>
            </li>
            <li>
                <a href="">サービス2</a>
            </li>
            <li>
                <a href="">サービス3</a>
            </li>
            <li>
                <a href="">サービス4</a>
            </li>
            <li>
                <a href="">サービス5</a>
            </li>
        </ul>
        <a href="">サービス一覧見る</a>
    </section>
    <section>
        <div>
            <p>Case</p>
            <h2>お客様事例</h2>
        </div>
        <ul>
            <li>
                <a href="">
                    <p><img src="/assets/images/image.png" alt=""></p>
                    <p>
                        <span>サブタイトルサブタイトル</span>
                        <time datatime="2022-06-20">2022.06.20</time>
                    </p>
                    <h3>事例タイトル事例タイトル事例タイトル事例タイトル</h3>
                    <span>タグ</span>
                </a>
            </li>
            <li>
                <a href="">
                    <p><img src="/assets/images/image.png" alt=""></p>
                    <p>
                        <span>サブタイトルサブタイトル</span>
                        <time datatime="2022-06-20">2022.06.20</time>
                    </p>
                    <h3>事例タイトル事例タイトル事例タイトル事例タイトル</h3>
                    <span>タグ</span>
                </a>
            </li>
            <li>
                <a href="">
                    <p><img src="/assets/images/image.png" alt=""></p>
                    <p>
                        <span>サブタイトルサブタイトル</span>
                        <time datatime="2022-06-20">2022.06.20</time>
                    </p>
                    <h3>事例タイトル事例タイトル事例タイトル事例タイトル</h3>
                    <span>タグ</span>
                </a>
            </li>
        </ul>
        <a href="">事例一覧見る</a>
    </section>
    <section>
        <div>
            <p>Support</p>
            <h2>きめ細やかなサポート</h2>
        </div>
        <div>
            <p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
            <p><img src="/assets/images/image2.png" alt=""></p>
        </div>
    </section>
    <section>
        <div>
            <p>Sustainable</p>
            <h2>サスティナビリティ</h2>
        </div>
        <div>
            <h3>サスティナビリティサブタイトル</h3>
            <p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
            <a href="">サスティナビリティを見る</a>
        </div>
    </section>
    <section>
        <div>
            <p>News</p>
            <h2>ニュース</h2>
        </div>
        <div>
            <ul>
                <li>全て</li>
                <li>カテゴリー1</li>
                <li>カテゴリー2</li>
                <li>カテゴリー3</li>
            </ul>
            <div>
                <ul>
                    <li>
                        <time datatime="2022-06-20">2022.06.20</time><span>カテゴリー1</span>
                        <a href="">ニュースタイトルニュースタイトルニュースタイトルニュースタイトル</a>
                    </li>
                    <li>
                        <time datatime="2022-06-20">2022.06.20</time><span>カテゴリー1</span>
                        <a href="">ニュースタイトルニュースタイトルニュースタイトルニュースタイトル</a>
                    </li>
                    <li>
                        <time datatime="2022-06-20">2022.06.20</time><span>カテゴリー1</span>
                        <a href="">ニュースタイトルニュースタイトルニュースタイトルニュースタイトル</a>
                    </li>
                </ul>
            </div>
        </div>
        <a href="">ニュース一覧を見る</a>
    </section>
</main>
<%_ } _%> 
<%_ /* 以下includeファイル */ _%>
<%- include( data.current + 'includes/_head_b_' + data.device , { data : data } ); %>
<%- data.content(); %>
<%- include( data.current + 'includes/_footer_b_' + data.device , { data : data } ); %>
<%- data.asset(); %>
<%- include( data.current + 'includes/_foot_' + data.device , { data : data } ); %>