<%_
  var data = {
    url: '',/* スラッシュ始まりのドメイン以下URL ( TOPの場合は空文字で ) */
    name: 'top',/* bodyタグにつくid名 */
    title:'',/* TOPの場合は空文字で */
    description:'',/* TOPの場合は空文字で */
    keyword:'',/* TOPの場合は空文字で */
    device: 'pc', 
    current:'./'   
  } 
_%>  
<%_ data.asset = function(){ _%> 
<%_ }; data.content = function(){ _%>
<main>
  <a href="#aaa">aaaaa</a>
  <div class="t-mv">
    <img src="https://placehold.jp/d6d6d6/808080/500x300.png?text=image" alt="メインビジュアル">
  </div>
  <div class="t-content js-inView">
    <div>
      <p>テキスト表示テキスト表示テキスト表示テキスト表示テキスト表示テキスト表示テキスト表示テキスト表示</p>
      <p>テキスト表示テキスト表示テキスト表示テキスト表示</p>
      <p><a href="ua.html">UAチェック</a></p>
    </div>
    <div><p class="card"></p></div>
  </div>
  <div class="t-content js-inView">
    <div>
      <p>テキスト表示テキスト表示テキスト表示テキスト表示</p>
      <p><a href="canvas.html">canvasチェック</a></p>
    </div>
    <div><p class="card all"></p></div>
    <div><p class="card drop"></p></div>
    <div><p class="card drop_b"></p></div>
  </div>
  <div class="t-content js-inView">
    <div>
      <p>テキスト表示テキスト表示テキスト表示テキスト表示</p>
      <p><a href="canvas.html">canvasチェック</a></p>
    </div>
    <div><p class="card all"></p></div>
    <div><p class="card drop"></p></div>
    <div><p class="card drop_b"></p></div>
  </div>
  <div class="t-content js-inView">
    <div>
      <p>テキスト表示テキスト表示テキスト表示テキスト表示</p>
      <p><a href="canvas.html">canvasチェック</a></p>
    </div>
    <div><p class="card all"></p></div>
    <div><p class="card drop"></p></div>
    <div><p class="card drop_b"></p></div>
  </div>
<div id="aaa">
  <div class="t-content js-inViewin">
    <div>
      <p>テキスト表示テキスト表示テキスト表示テキスト表示テキスト表示テキスト表示テキスト表示テキスト表示</p>
      <p>テキスト表示テキスト表示テキスト表示テキスト表示</p>
      <p><a href="ua.html">UAチェック</a></p>
    </div>
    <div><p class="card"></p></div>
  </div>
  <div class="t-content js-inViewin">
    <div>
      <p>テキスト表示テキスト表示テキスト表示テキスト表示</p>
      <p><a href="canvas.html">canvasチェック</a></p>
    </div>
    <div><p class="card all"></p></div>
    <div><p class="card drop"></p></div>
    <div><p class="card drop_b"></p></div>
  </div>
  <div class="t-content js-inViewin">
    <div>
      <p>テキスト表示テキスト表示テキスト表示テキスト表示</p>
      <p><a href="canvas.html">canvasチェック</a></p>
    </div>
    <div><p class="card all"></p></div>
    <div><p class="card drop"></p></div>
    <div><p class="card drop_b"></p></div>
  </div>
  <div class="t-content">
    <div>
      <p>テキスト表示テキスト表示テキスト表示テキスト表示</p>
      <p><a href="canvas.html">canvasチェック</a></p>
    </div>
    <div><p class="card all"></p></div>
    <div><p class="card drop"></p></div>
    <div><p class="card drop_b"></p></div>
  </div>
</div>
<a href="#">aaaaa</a>
</main>
<script>
  // 1. すべてのhref="#"のaタグを取得
const smoothScrollTrigger = document.querySelectorAll('a[href^="#"]');

// 2. 1のaタグにそれぞれクリックイベントを設定
for (let i = 0; i < smoothScrollTrigger.length; i++) {
    smoothScrollTrigger[i].addEventListener('click', (e) => {
        
        // 3. ターゲットの位置を取得
        e.preventDefault();
        let href = smoothScrollTrigger[i].getAttribute('href'); // 各a要素のリンク先を取得
        let targetElement = document.getElementById(href.replace('#', '')); // リンク先の要素（コンテンツ）を取得
        
        const rect = targetElement.getBoundingClientRect().top; // ブラウザからの高さを取得
        const offset = window.pageYOffset; // 現在のスクロール量を取得
        const gap = 60; // 固定ヘッダー分の高さ
        const target = rect + offset - gap; //最終的な位置を割り出す

        // 4. スムースにスクロール
        /*window.scrollTo({
            top: target,
            behavior: 'smooth',
        });*/
        window.scrollTo(0,target);
    });

}
</script>
<%_ } _%> 
<%_ /* 以下includeファイル */ _%>
<%- include( data.current + 'includes/_head_' + data.device , { data : data } ); %>
<%- data.content(); %>
<%- include( data.current + 'includes/_footer_' + data.device , { data : data } ); %>
<%- data.asset(); %>
<%- include( data.current + 'includes/_foot_' + data.device , { data : data } ); %>
